<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <main class="w-full h-screen bg-slate-200 font-sans">
      <nav
        class="flex items-center justify-between px-10 py-5 bg-opacity-70 backdrop-filter backdrop-blur-lg"
      >
        <h3 class="text-2xl text-black">Khaatabook</h3>
        <div class="flex gap-5">
          <a
            class="text-black hover:text-black-500 transition-colors duration-300"
            href="/"
            >Home</a
          >
          <a
            class="text-black hover:text-black-500 transition-colors duration-300"
            href="/create"
            >Create New Hisaab</a
          >
        </div>
      </nav>

      <div class="px-10 hisaabs">
        <h3 class="capitalize text-2xl font-medium mb-5 mt-10 tracking-tight">
          All hisaab kitaab
        </h3>

        <% if (files.length > 0) { %> <% files.forEach(function(file) { %>
        <div
          class="hisaab w-fit items-center py-3 mb-3 px-5 gap-20 bg-blue-500 flex justify-between rounded-md"
        >
          <div class="flex gap-4 text-white items-center">
            <h3 class="text-2xl"><%= file.split(".")[0] %></h3>
            <a href="/hisaab/<%= file %>">
              <i
                class="w-6 h-6 text-blue-500 flex items-center justify-center bg-white rounded-full ri-arrow-right-line"
              ></i>
            </a>
          </div>
          <div class="flex gap-3 items-center">
            <a href="/edit/<%=file%>">
              <i class="text-white ri-pencil-line"></i>
            </a>
            <a href="/delete/<%= file %>">
              <i
                class="w-6 h-6 text-red-500 flex items-center justify-center bg-white rounded-full ri-delete-bin-line"
              ></i>
            </a>
          </div>
        </div>
        <% }) %> <% } else { %>
        <h3 class="text-zinc-500">
          Currently nothing to show, create hisaabs to see more.
        </h3>
        <% } %>
      </div>
    </main>
  </body>
</html>
